//palette
$brown-bg: #9F826B;
$brown-text: #A19797;
$brown-tag: #A2795A;
$orange: #FFD185;
$lightorange: #FDDFAC;

$redalert: #E98687;

$board: #3D4751;
$blue-bg: #1E2A38;
$blue-title: #4A4F54;
$blue-content: #5A6978;
$blue-form: #47525E;

$lightgray: #AFBACA;
$fadegray: #D3D4D6;
$bgray: #D7D2D2;
$disabled: #A6A8AB;
$darkgray: #3D4434;

//grid breakpoints
$grid-breakpoints-sm: 480px;

//fontbook
$defaultfont: SourceSansPro;
$boldfont: SourceSansPro-Bold;
$semiboldfont: SourceSansPro-SemiBold;
$lato: Lato;
$latobold: Lato-Bold;

//include
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@include placeholder {
  font-family: $defaultfont;
  font-style: italic;
}

body {
  background-color: $brown-bg;
}

.wrapper {
  height: 100vh;
}

.horizontal-line {
	height: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
	background: $lightgray;
}

.breakline {
  height: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
	background: $bgray;
}

:hover{
  text-decoration: none;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in-out;
}
