@import '_base.scss';

.group-display-wrap {
  margin-top: 15px;
  margin-bottom: 15px;
}

.group-img-wrap {
  background-color: $fadegray;
  color: #AFAFAA;
  font-family: $boldfont;
  font-size: 50px;
  padding: 35px 0;
  height: 150px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: #AFAFAA;
  }

  &:active {
    text-decoration: none;
    color: #AFAFAA;
  }

  &:focus {
    text-decoration: none;
    color: #AFAFAA;
  }
}

.group-name {
  color: white;
  font-family: $semiboldfont;
  font-size: 24px;
  transition: all 0.2s ease-in-out;

  &:hover {
    text-decoration: none;
    color: $lightorange;
  }

  &:active {
    text-decoration: none;
    color: $lightorange;
  }

  &:focus {
    text-decoration: none;
    color: $lightorange;
  }
}

.group-privacy {
  color: $lightgray;
  font-family: $defaultfont;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  margin-left: 5px;
}

.group-privacy-icon {
  width: 20px;
  height: 20px;
  color: $lightgray;
}

.group-description {
  color: $lightgray;
  font-family: $defaultfont;
  margin-top: 2px;
  font-size: 16px;
}

.button-wrap {
  text-align: center;
}

.button-join {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 25px;
  text-align: center;
  color: white;
  font-family: $latobold;
  font-size: 16px;
  width: 85px;
  height: 35px;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: white;
    color: $board;
  }
  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }
}

.button-joined {
  background-color: transparent;
  border: 1px solid $disabled;
  border-radius: 25px;
  text-align: center;
  color: $disabled;
  font-family: $latobold;
  font-size: 16px;
  width: 85px;
  height: 35px;
  margin-top: 10px;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }
}

.user-img-wrap {
  height: 85px;
  width: 85px;
  border-radius: 100%;
  margin: 5px auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $lightgray;
}

.user-name {
  color: white;
  font-family: $semiboldfont;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;

  &:hover{
    text-decoration: none;
    color: $orange;
  }
}

.custom-alert-text {
  color: $redalert;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: $defaultfont;
  font-size: 16px;
  text-align: center;
}

.submit-sq-button {
  background-color: $blue-form;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline;
  text-align: center;
  color: white;
  font-family: $latobold;
  font-size: 16px;
  width: 105px;
  height: 45px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}

.cancel-sq-button {
  background-color: white;
  border: 1px solid $disabled;
  border-radius: 7px;
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  display: inline;
  text-align: center;
  color: $disabled;
  font-family: $latobold;
  font-size: 16px;
  width: 100px;
  height: 45px;
  cursor: pointer;

  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}
