$primary-color: white;
@import '~loaders.css/src/animations/pacman.scss';

.loader-hidden {
  display: none;
}

.loader-active {
  display: block;
}

.loader-fullscreen-wrap {
  height: 100vh;
  display: block;
  position: absolute;
  top: 0; left: 0;
}
