@import '_base.scss';


#board {
  height: 100%;
  width: 100%;
  min-height: 1000px;
  margin: 25px 0 30px 0;
  padding: 30px;
  color: white;
  border-radius: 5px;
  background-color: $board;
  font-family: $defaultfont;
  animation: 0.1s ease-in 0s 1 fadeIn;
}

#trophy {
}

.wrap {
  height: 120px;
  border-radius: 5px;
  background-color: white;
  margin: 25px 0 15px 0;
  padding: 0 10px;
  animation: 0.2s ease-in 0s 1 fadeIn;
}

.profile-img-container {
  height: 78px;
  width: 78px;
  border-radius: 78px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $lightgray;
}

.selector {
  background-color: $blue-title;
  border: 2px solid $blue-title;
  border-radius: 100%;
  width: 15px;
  height: 15px;
}

.selector-text {
  color: $lightgray;
  font-family: $lato;
  font-size: 14px;
  vertical-align: middle;
  text-align: left;
}

.selector-label {
  color: $lightgray;
  font-family: $lato;
  font-size: 16px;
  margin: 0 5px 3px 0;
  vertical-align: middle;
  text-align: left;
  transition: all 0.2s ease-in-out;
}

.selector-label-checked {
  color: $blue-form;
  font-family: $lato;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0 5px 3px 0;
  vertical-align: middle;
  text-align: left;
  transition: all 0.2s ease-in-out;
}

.selector-label-disabled {
  color: $fadegray;
  font-family: $lato;
  font-size: 16px;
  margin: 0 5px 3px 0;
  vertical-align: middle;
  text-align: left;
  text-decoration: line-through;
}

#profile-name {
  color: $darkgray;
  font-size: 26px;
  font-family: $boldfont;
}

#biography {
  color: $fadegray;
  font-size: 15px;
  line-height: 16px;
  font-family: $defaultfont;
}

#trophy-title-wrap {
  height: 120px;
  border-radius: 5px 0 0 5px;
  color: white;
  background-color: $board;
}

.trophy-container {
  height: 64px;
  width: 64px;
  border-radius: 64px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  background-color: $lightgray;
}

.postbox-wrap {
  height: 225px;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  margin-right: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: white;
  position: relative;
  animation: 0.2s ease-in 0s 1 slideIn;
}

.postbox-new-wrap {
  height: 225px;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  margin-right: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: white;
  position: relative;
  transform: rotate(-5deg);
}

.postbox-author-anonymous {
  font-family: $boldfont;
  font-size: 22px;
  color: $blue-title;
  float: left;
}

.postbox-author-link {
  font-family: $boldfont;
  font-size: 20px;
  color: $blue-title;
  float: left;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

#postbox-author-match {
  font-family: $boldfont;
  font-size: 22px;
  color: $blue-title;
  float: left;
}

#postbox-tag {
  font-family: $defaultfont;
  font-size: 18px;
  text-align: right;
  line-height: 32px;
  vertical-align: middle;
  color: $brown-tag;
  float: right;

}

#postbox-content {
  font-family: $defaultfont;
  font-size: 20px;
  color: $blue-content;
}

.postbox-reply-button{
  color: $fadegray;
  background-color: transparent;
  box-sizing: content-box;
  border: none;
  padding: 0;
  margin-left: 5px;
  cursor: pointer;
  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }
}

#postbox-reply {
  color: $fadegray;
}
#postbox-reply-num {
  color: $fadegray;
  font-family: $defaultfont;
  display: inline;
  margin-left: 5px;
  text-align: left;
  font-size: 16px;
}
#postbox-timestamp {
  color: $fadegray;
  font-family: $defaultfont;
  text-align: right;
  font-size: 16px;
}

#postbox-menu {
  position: absolute;
  bottom: 10px;
  left: 0;
}

#postbox-icon-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 0px 0;
}

.postbox-new-icon {
  font-size: 64px;
  color: $fadegray;
  margin: 0;
}

.custom-area-new-button {
  background-color: transparent;
  border: none;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  padding: 0;
  cursor: pointer;
  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }
}

#postbox-new-text {
  color: $fadegray;
  font-size: 20px;
  font-family: $latobold;
  text-align: center;
  margin-top: 5px;
}

.custom-modal {
  top: 5%;
}

.custom-modal-header {
  text-align: center;
  margin: 20px 0 20px 0;
}

.submit-button {
  background-color: $blue-form;
  border: none;
  border-radius: 25px;
  text-align: center;
  color: white;
  font-family: $latobold;
  font-size: 16px;
  width: 105px;
  height: 50px;
  cursor: pointer;
  &:active {
    outline: none;
  }
}

.reply-stack-containter {
  background-color: white;
  border-radius: 5px;
}

.reply-container {
  background-color: white;
  border-radius: 5px;
  position: relative;
}

.reply-custom-modal {
  top: 5%;
}

#reply-author {
  font-family: $boldfont;
  font-size: 18px;
  color: $blue-title;
  float: left;
}

#reply-author-match {
  font-family: $boldfont;
  font-size: 18px;
  color: $blue-title;
  float: left;
}

#reply-tag {
  font-family: $defaultfont;
  font-size: 14px;
  text-align: right;
  line-height: 25px;
  vertical-align: middle;
  color: $brown-tag;
  float: right;

}

#reply-content {
  font-family: $defaultfont;
  font-size: 16px;
  color: $blue-content;
}

#reply-timestamp {
  color: $fadegray;
  font-family: $defaultfont;
  font-size: 14px;
  margin-top: 5px;
}

.reply-breakline {
  width:100%;
  height: 1px;
  margin: 5px 0 10px 0;
  background: #F1F1F1;
}

@media (min-width: 780px){
  #board {
    margin-top: 0;
  }
  #trophy {
    width: 95%;
    float: right;
  }
}
